<h1>Create new article</h1>

    <% if @article.errors.any? %>
    <h3>There are some errors</h3>
<ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
</ul>
    <% end %>


<%# Added the "data-turbo" attribute to "false" to disable Turbo Drive for the form %>
<%# This means that when the form is submitted, the browser will reload the entire page %>
<%# Instead of using Turbo Drive to update the page with the new data from the form submission %>

<%= form_with scope: :article, url: articles_path, data: { turbo: false } do |f| %>
    <p>
        <%= f.label :title %> <br/>
        <%= f.text_field :title %>
        <%# will generate form label and input on view %>
    </p>
    <p>
        <%= f.label :description %> <br/>
        <%= f.text_area :description %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>
