<h1><%= @article.title %></h1>

<h3><strong>Description: </strong><%= @article.description %></h3>
<p><strong>Author: </strong><%= @article.user.username if @article.user %></p>
<% if @article.categories.any? %>
  Categories: <% @article.categories.each do |category|%>
    <span class="badge rounded-pill text-bg-primary"><%= link_to category.name, category_path(category) , style: "text-decoration: none" , class: "link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %></span>
  <% end %>
<% end %>
<br>
<br>
<%= link_to 'Go to homepage', articles_path %>

<br>
<br>
<% if logged_in? && (@article.user == current_user || current_user.admin?) %>
  <%= link_to 'Edit', edit_article_path, class: "btn btn-warning" %>
  <%= link_to "Delete", @article, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
<% end %>