<h1>Showing articles</h1>

<p>ID: <%= @article.id %></p>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>
<p><strong>Author: </strong><%= @article.user.username if @article.user %></p>

<%= link_to 'Go to homepage', articles_path %>
<br>
<%= link_to 'Edit article', edit_article_path %>
<%= link_to 'Delete article', @article , data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
