<div class="row row-cols-3 row-cols-md-4 g-4">
  <% @users.each do |user| %>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= user.username %></h5>
          <p class="card-text"><%= user.email %></p>
          <p class="card-text"><%= pluralize(user.articles.count, "article" ) %></p>
          <p class="card-text">Joined <%= time_ago_in_words(user.created_at) %> ago</p>
          <%= link_to 'View profile', user_path(user), class: "btn btn-primary" %>
          <% if logged_in? %>
            <% if user == current_user %>
              <%= link_to 'Edit profile', edit_user_path(user), class: "btn btn-warning" %>
            <% end %>
            <% if current_user.admin? %>
              <%= link_to 'Delete profile', user_path(user), data:{turbo_method: :delete , turbo_confirm: "Are you sure you want to delete the user #{user.username} all #{user.articles.count} articles associated to this account?"},class: "btn btn-warning" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>