<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to 'Alpha Blog', root_path , class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Bloggers', users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Articles', articles_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact', contact_path, class: "nav-link" %>
        </li>
      </ul>
      <% if logged_in? %>
        <%= link_to 'Log out', logout_path, data: {turbo_method: :delete}, class: "btn btn-outline-success" %>
      <% else %>
        <%= link_to 'Log in', login_path, class: "btn btn-outline-success" %>
      <% end %>

      <% if logged_in? %>
        <%= link_to current_user.username , user_path(current_user), class: "btn btn-warning" %>
      <% else %>
        <%= link_to 'Sign up', signup_path, class: "btn btn-warning" %>
      <% end %>

    </div>
  </div>
  <% if logged_in? %>
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Profile [<%= current_user.username %>] <%= " - Admin" if current_user.admin? %>
      </a>
      <ul class="dropdown-menu" style="ul > a{margin:10px 0px}">
        <%= link_to 'View profile', user_path(current_user), class: "btn btn-warning", style: "margin: 10px 5px" %>
        <%= link_to 'Edit profile', edit_user_path(current_user), class: "btn btn-warning", style: "margin: 10px 5px" %>
      </ul>
    </div>
  <% end %>
</nav>