<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" %>
    <%= javascript_importmap_tags %>
    <style>
      body{
        overflow-x: hidden;
      }
      main{
        margin: 20px;
      }
      a{
        margin: 0 10px;
      }
    </style>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <main>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
